<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>Bloggo</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
  <header>
    <h1>Blogo</h1>
  </header>
  <section class="container">
    {% block content %}
    {% endblock %}
  </section>
</body>
</html>
